/* src/App.css */
html, body {
  margin: 0;
  padding: 0;
}

.App {
  position: relative;
  width: 100vw;
  height: 100vh;
  overflow: hidden;
}

/* Fondo a pantalla completa */
.background {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-size: cover;
  background-position: center;
  transition: filter 0.5s ease;
  z-index: -1;
}

.background.blurred {
  filter: blur(5px);
  transform: scale(1.05);
}

.content {
  position: relative;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
